#continue .content {
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
#continue .content .typo {
	flex-direction: column;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s;
}
#continue .content .typo p {
	color: #fff;
	text-align: center;
}
#continue .content .typo p:nth-of-type(1) {
	font-size: 24px;
	line-height: 30px;
	font-weight: 100;
	margin-bottom: 5px;
}
#continue .content .typo p:nth-of-type(2) {
	font-size: 16px;
	line-height: 23px;
	font-weight: 100;
}
#continue .content .typo.on {
	opacity: 1;
}
#continue .content .typo.item4 p {
	font-size: 1.12rem;
	line-height: 1.43rem;
	font-weight: 100;
	margin-bottom: 3.43rem;
}
#continue .content .typo.item4 .page-map {
	flex-direction: column;
	gap: 10px;
	opacity: 0;
	transition: opacity 0.3s;
	transition-delay: 1.8s;
	left: 50%;
	top: 50%;
	transform: matrix(1, 0, 0, 1, 209, -67);
	align-items: flex-start;
}
#continue .content .typo.item4 .page-map li a {
	color: #fff;
	opacity: 0.5;
	font-size: 18px;
	line-height: 23px;
	font-weight: 300;
	gap: 9px;
}
#continue .content .typo.item4 .page-map li a img {
	display: block;
	width: 0.87rem;
}
#continue .content .typo.item4 .partner {
	gap: 68px;
	opacity: 0;
	transition: opacity .3s;
	transition-delay: 1.8s;
	margin-top: 259px;
}
#continue .content .typo.item4 .partner li img {
	opacity: 0.5;
}
#continue .content .typo.item4.change .page-map,
#continue .content .typo.item4.change .partner {
	opacity: 1;
}
