#continue .content {
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
#continue .content .typo {
	flex-direction: column;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s;
}
#continue .content .typo p {
	color: #fff;
	text-align: center;
}
#continue .content .typo p:nth-of-type(1) {
	font-size: 24px;
	line-height: 24px;
	font-weight: 100;
	margin-bottom: 5px;
}
#continue .content .typo p:nth-of-type(2) {
	font-size: 16px;
	line-height: 23px;
	font-weight: 100;
}
#continue .content .typo.on {
	opacity: 1;
}
#continue .content .typo.item4 p {
	font-size: 1.12rem;
	line-height: 1.43rem;
	font-weight: 100;
	margin-bottom: 3.43rem;
}
#continue .content .typo.item4 .logo {
	display: block;
	width: 17rem;
}
#continue .content .typo.item4 .logo svg {
	display: block;
	width: 100%;
}
#continue .content .typo.item4 .logo svg path {
	transition: fill 0.3s;
}
#continue .content .typo.item4 .logo svg path:not(:last-of-type) {
	fill: #2F5FF7;
}
#continue .content .typo.item4 .logo svg path:last-of-type {
	fill: #5A8DFF;
}
#continue .content .typo.item4.change .logo svg path:not(:last-of-type) {
	fill: #1003A3;
}
#continue .content .typo.item4.change .logo svg path:nth-of-type(1) {
	transition-delay: 1.5s;
}
#continue .content .typo.item4.change .logo svg path:nth-of-type(2) {
	transition-delay: 0.9s;
}
#continue .content .typo.item4.change .logo svg path:nth-of-type(3) {
	transition-delay: 1.2s;
}
#continue .content .typo.item4.change .logo svg path:nth-of-type(4) {
	transition-delay: 0.6s;
}
#continue .content .typo.item4.change .logo svg path:nth-of-type(5) {
	transition-delay: 0.3s;
}
#continue .content .typo.item4.change .logo svg path:last-of-type {
	fill: #1003A3;
}
#continue .content .typo.item4 .page-map {
	margin-top: 4.68rem;
	flex-direction: column;
	gap: 0.5rem;
	opacity: 0;
	transition: opacity 0.3s;
	transition-delay: 1.8s;
}
#continue .content .typo.item4 .page-map li a {
	color: #fff;
	opacity: 0.5;
	font-size: 1.12rem;
	line-height: 1.43rem;
	font-weight: 300;
	gap: 0.56rem;
}
#continue .content .typo.item4 .page-map li a img {
	display: block;
	width: 0.87rem;
}
#continue .content .typo.item4 .page-map li:last-of-type a img {
	transform: rotate(180deg);
}
#continue .content .typo.item4 .partner {
	gap: 68px;
	opacity: 0;
	transition: opacity .3s;
	transition-delay: 1.8s;
	margin-top: 6.62rem;
}
#continue .content .typo.item4 .partner li img {
	opacity: 0.5;
}
#continue .content .typo.item4.change .page-map,
#continue .content .typo.item4.change .partner {
	opacity: 1;
}
