@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-Thin.woff2") format("woff2");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-ExtraLight.woff2") format("woff2");
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-SemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Baikal-Expanded";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-ExpandedSemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-CondensedExtraBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-Black.woff2") format("woff2");
	font-style: normal;
	font-weight: 900;
}
