@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-Thin.otf");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-ExtraLight.otf");
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-Regular.otf");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-Medium.otf");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-SemiBold.otf");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Baikal-Expanded";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-ExpandedSemiBold.otf");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-CondensedExtraBold.otf");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "Baikal";
	src: url("https://media.drx.gg/fonts/Baikal/Baikal-Black.otf");
	font-style: normal;
	font-weight: 900;
}
