#home .video {
	left: 0;
	top: 0;
}
#home .content {
	background-color: #11111170;
	flex-direction: column;
}
#home .content h1 {
	color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#home .content h1:nth-of-type(1) {
	letter-spacing: -18px;
	font-size: 300px;
	line-height: 384px;
	font-weight: 600;
}
#home .content h1:nth-of-type(2),
#home .content h1:nth-of-type(3) {
	opacity: 0;
}
#home .content h1:nth-of-type(2) {
	font-size: 6.87rem;
	line-height: 8.81rem;
	font-weight: 200;
	transform: matrix(1, 0, 0, 1, -409 ,-130) translateZ(0);
	width: max-content;
	transition-property: opacity, transform;
	transition-duration: var(--transition-time);
}
#home .content h1:nth-of-type(3) {
	font-size: 10rem;
	line-height: 12.81rem;
	font-weight: 600;
	transform: matrix(1, 0, 0, 1, -675 ,5) translateZ(0);
	transition: all var(--transition-time);
}
#home .content h1:nth-of-type(3):after {
	content: "";
	position: absolute;
	height: 1px;
	width: 35.25rem;
	background-color: #ffffff50;
	top: 50%;
	left: calc(100% + 1rem);
	transform: translateY(-50%);
}
#home #champion-text {
	font-size: 10rem;
	line-height: 12.81rem;
	font-weight: 500;
	color: #1003A3;
	z-index: 21;
	left: 50%;
	top: 50%;
	opacity: 0;
	transform: matrix(1, 0, 0, 1, -291, 189) translateZ(0);
	transition-property: opacity;
	transition-duration: var(--transition-time);
}
#home .page-map {
	left: 50%;
	top: 50%;
	transform: matrix(1, 0, 0, 1, 554, -187) translateZ(0);
	gap: 33px;
	color: #fff;
	opacity: 0;
}
#home .page-map li a {
	gap: 9px;
	font-size: 18px;
	line-height: 23px;
	font-weight: 300;
}
#home .page-map li a img {
	width: 14px;
}
#home .content h1:nth-of-type(1).transition {
	transition-duration: var(--transition-time);
}
#home .scroll {
	left: 50%;
	transform: translateX(-50%);
	bottom: 47px;
	flex-direction: column;
	gap: 12px;
	line-height: 23px;
	font-size: 18px;
	font-weight: 300;
	opacity: 0.5;
	color: #fff;
}
#home .scroll .arrow {
	transform: rotate(90deg);
}
#home .content.on h1:nth-of-type(1) {
	transform: matrix(1, 0, 0, 1, -760 ,-461) translateZ(0);
}
#home .content.on h1:nth-of-type(2),
#home .content.on h1:nth-of-type(3) {
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	opacity: 1;
}
#home .content.on .page-map {
	opacity: 0.5;
}
#home #champion-text.on {
	opacity: 1;
}

#home .content.delay .page-map {
	transition-delay: 0.2s;
}
#home .content.delay h1:nth-of-type(2) {
	transition-delay: 0.2s;
}
#home .content.delay h1:nth-of-type(3) {
	transition-delay: 0.4s;
}
#champion-text.delay {
	transition-delay: 0.6s;
}
