@import url('./loading.css');
@import url('./home.css');
@import url('./start.css');
@import url('./story.css');
@import url('./continue.css');

@keyframes fadIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

:root {
	--transition-time: 1s;
	--background-color: #111111;
}

#app {
	background-color: var(--background-color);
	height: 100%;
	--overflow: hidden;
	transform: translateZ(0);
}
#app .main {
	--transition: transform 0.1s;
}
#app.stop {
	filter: blur(10px);
	transform: scale(1.2);
}

.container {
	width: 100%;
	background-color: var(--background-color);
}

#scroll-bar {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #ffffff50;
	width: 5px;
	display: none;
}
#scroll-bar .gage {
	font-size: 0;
	width: 100%;
	height: 100%;
	background-color: #1003A350;
	border-radius: 3px;
}
