* {
	margin: 0;
	padding: 0;
	user-select: none;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-size: calc(16 / 1920 * 100vw);
}
body.hidden {
	overflow: hidden;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
	display: none;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
