#start {
	padding-bottom: 18.56rem;
	background-color: var(--background-color);
}
#start .slogan {
	height: 250vh;
	padding-top: 150vh;
}
#start .slogan .sticky  {
	width: 100%;
	height: 100vh;
	position: sticky;
	left: 0;
	top: 0;
}
#start .slogan .sticky .content {
	width: 74.75rem;
	height: 24.18rem;
}
#start .slogan .sticky .content p {
	color: #FFFFFF59;
}
#start .slogan .sticky .content p:nth-of-type(1) {
	left: 0;
	top: 5.5rem;
	font-size: 1.56rem;
	line-height: 2.06rem;
}
#start .slogan .sticky .content p:nth-of-type(2) {
	top: 11.68rem;
	right: 3.25rem;
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: 200;
}
#start .slogan .sticky .content p:nth-of-type(3) {
	top: 13.43rem;
	right: 11.81rem;
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: 200;
}
#start .slogan .sticky .content .history {
	top: 16.87rem;
	left: 0;
}
#start .slogan .sticky .content .history ul {
	flex-direction: column;
	gap: 0.62rem;
}
#start .slogan .sticky .content .history ul li p {
	font-size: 1rem;
	line-height: 1.37rem;
}
#start .slogan .sticky .content h1 {
	opacity: 0;
	color: #fff;
}
#start .slogan .sticky .content h1:nth-of-type(1) {
	top: 1.18rem;
	left: 27.12rem;
	font-size: 7.31rem;
	line-height: 7.18rem;
	font-weight: 500;
	transition-delay: 0s;
}
#start .slogan .sticky .content h1:nth-of-type(2) {
	font-size: 4.25rem;
	line-height: 9.37rem;
	font-weight: 500;
	left: 0;
	top: 7.18rem;
	transition-delay: 0.3s;
}
#start .slogan .sticky .content h1:nth-of-type(2) span {
	font-size: 7.31rem;
}
#start .slogan .sticky .content h1:nth-of-type(3) {
	bottom: 0;
	left: 17.62rem;
	font-size: 4.25rem;
	font-weight: 500;
	line-height: 7.37rem;
	transition-delay: 0.6s;
}
#start .slogan .sticky .content h1:nth-of-type(3) span {
	font-size: 7.31rem;
	color: #1003A3;
}
#start .slogan .sticky .content h1 {
	opacity: 0;
	transition: opacity var(--transition-time);
}
#start .slogan .sticky.on .content h1 {
	opacity: 1;
}

#start > .history .bg {
	font-weight: 900;
	font-size: 18.75rem;
	color: #FFFFFF05;
	line-height: 20.62rem;
}
#start > .history .bg.item1 {
	left: -8.5rem;
	top: 22.62rem;
	z-index: 9;
}
#start > .history .bg.item2 {
	right: 36px;
	bottom: -44px;
	z-index: 9;
}
#start > .history .content .thumb img {
	display: block;
	width: 100%;
}
#start > .history .content.item1 {
	width: 26.5rem;
	margin-left: 23.43rem;
	margin-right: 70.06rem;
	z-index: 10;
	opacity: 0;
	transform: translateX(-10%);
	transition: all var(--transition-time);
}
#start > .history .content.item1 p {
	transform: rotate(-90deg) translate(0, calc(-100% - 444px));
	transform-origin: right top;
	right: 0;
	top: 0;
	color: #FFFFFF59;
	font-size: 18px;
	line-height: 23px;
	font-weight: 200;
}
#start > .history .content.item2 {
	width: 568px;
	margin-left: 1202px;
	margin-right: 150px;
	margin-top: -375px;
	z-index: 8;
	opacity: 0;
	transform: translateY(10%);
	transition: all var(--transition-time);
}
#start > .history .content.item2 .typo {
	flex-direction: column;
	gap: 12px;
	left: -118px;
	top: -160px;
	opacity: 0;
	transform: translateX(-10%);
	transition-property: transform, opacity;
	transition-delay: 0.5s;
	transition-duration: var(--transition-time);
}
#start > .history .content.item2 .typo h3 {
	color: #FFFFFF66;
	font-size: 38px;
	line-height: 52px;
	font-weight: 700;
}
#start > .history .content.item2 .typo h3:last-of-type {
	color: #fff;
}
#start > .history .content.item3 {
	width: 787px;
	margin-left: 607px;
	margin-top: -86px;
	opacity: 0;
	transform: translateX(10%);
	transition: all var(--transition-time);
}
#start > .history .content.item3 p {
	color: #FFFFFF59;
	top: 0;
	left: 0;
	transform: translateX(calc(-100% - 34px));
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	opacity: 0;
	transition-property: opacity;
	transition-delay: 0.6s;
	transition-duration: var(--transition-time);
}
#start > .history .content.item4 {
	gap: 12px;
	margin-left: 150px;
	margin-top: -105px;
	font-size: 300px;
	line-height: 330px;
	font-weight: 500;
	color: #FFFFFF05;
}
#start > .history .content.item4 .thumb {
	width: 308px;
	opacity: 0;
	transform: translateY(10%);
	transition: all var(--transition-time);
}
#start > .history .content.item4 .thumb:nth-of-type(1) {
	transition-delay: 0s;
}
#start > .history .content.item4 .thumb:nth-of-type(2) {
	transition-delay: 0.3s;
}
#start > .history .content.item1.on {
	opacity: 1;
	transform: translateX(0);
}
#start > .history .content.item2.on {
	opacity: 1;
	transform: translateY(0);
}
#start > .history .content.item2.on .typo {
	opacity: 1;
	transform: translateX(0);
}
#start > .history .content.item3.on {
	opacity: 1;
	transform: translateX(0);
}
#start > .history .content.item3.on p {
	opacity: 1;
}
#start > .history .content.item4.on .thumb {
	opacity: 1;
	transform: translateY(0);
}
