#story > .wrap {
	top: 0;
	left: 0;
}
#story .list {
	width: max-content;
	background-color: #111111;
}
#story .list .video .content h1 {
	color: #fff;
	font-size: 6.75rem;
	line-height: 8.62rem;
	font-weight: 800;
}
.location .main .thumb:nth-of-type(1) {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.location .main .thumb:nth-of-type(2) {
	left: 50%;
	top: 50%;
	transform: matrix(1, 0, 0, 1, -810, -389);
}
.location .main .thumb:nth-of-type(3) {
	left: 50%;
	top: 50%;
	transform: matrix(1, 0, 0, 1, 178, 1);
}
.location .main .thumb:nth-of-type(4) {
	right: 9.37rem;
	top: 6.18rem;
}
.location .main .typo {
	z-index: 2;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	flex-direction: column;
}
.location .main .typo h1 {
	font-size: 11.5rem;
	line-height: 14.75rem;
	color: #fff;
	font-weight: 400;
	text-align: center;
	z-index: 2;
}
.location .main .typo .interview {
	bottom: 2.43rem;
	left: 50%;
	transform: translateX(-50%);
}
.location .main .typo .interview p {
	color: #fff;
	text-align: center;
}
.location .main .typo h1:nth-of-type(1) {
	margin-bottom: 8.18rem;
}
.location .main .typo p:nth-of-type(1) {
	font-size: 1.12rem;
	line-height: 1.43rem;
	font-weight: 300;
	margin-bottom: 1.5rem;
}
.location .main .typo p:nth-of-type(2) {
	font-size: 1rem;
	line-height: 1.68rem;
	font-weight: 300;
}
#story .list .match > .wrap {
	flex-direction: column;
	left: 0;
	top: 0;
}
#story .list .match > .wrap .info {
	flex: 1;
	text-align: center;
	flex-direction: column;
	color: #fff;
}
#story .list .match > .wrap .info p {
	color: #FFFFFF80;
	font-size: 1.12rem;
	line-height: 1.43rem;
	margin-bottom: 0.37rem;
	font-weight: 400;
}
#story .list .match > .wrap .info h2 {
	font-size: 1.5rem;
	line-height: 1.93rem;
	font-weight: 400;
	margin-bottom: 2.62rem;
}
#story .list .match > .wrap .info h1 {
	font-size: 2.25rem;
	line-height: 2.87rem;
	font-weight: 400;
	margin-bottom: 2.18rem;
}
#story .list .match > .wrap .info a {
	font-size: 1.12rem;
	line-height: 1.62rem;
	font-weight: 300;
	border-bottom: 1px solid #FFFFFF40;
	padding-bottom: 0.25rem;
	gap: 0.87rem;
}
#story .list .match.big .interview h4 {
	color: #fff;
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 24px;
	font-weight: 300;
}
#story .list .match.big .interview p {
	color: #FFFFFF59;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}
#story .list .match.big .interview p span {
	color: #FFFFFF;
}
#story .list .match.big a span img {
	width: 0.87rem;
	margin-left: 0;
}
.location .match.big a {
	font-size: 1.12rem;
	font-weight: 300;
	line-height: 1.62rem;
	gap: 1rem;
	padding-bottom: 0;
	border: 0;
	color: #fff;
	left: 50%;
	top: 50%;
	transform: matrix(1, 0, 0, 1, -817, -42);
}
.location .match.big a span {
	width: 2.75rem;
	height: 2.75rem;
	border-radius: 50%;
	border: 1px solid #fff;
}
.location .match.big .content > h1 {
	left: 50%;
	top: 50%;
}
.location .match.big .content > .highlight {
	left: 50%;
	top: 50%;
	width: 300px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}
.location .match.big .content > .highlight:nth-of-type(1) {
	transition-delay: 0.1s;
}
.location .match.big .content > .highlight:nth-of-type(2) {
	transition-delay: 0.2s;
}
.location .match.big .content > .highlight:nth-of-type(3) {
	transition-delay: 0.3s;
}
.location .match.big .on .content > .highlight {
	opacity: 1;
}
.location .match.big .interview {
	left: 50%;
	top: 50%;
}
#tryout .main .typo span {
	color: #FFFFFF26;
	font-size: 18px;
	line-height: 23px;
	left: 50%;
	top: 50%;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, -48, -293);
}
#play-in .main {
	background-color: #2763D7;
}
#play-in .main .typo h1 {
	color: #FBCEF4;
}
#play-in .main .typo p {
	color: #FBCEF4;
}
#ground-stage .main {
	background-color: #D7273C;
}
#ground-stage .main .typo h1 {
	color: #FBE8CE;
}
#ground-stage .main .typo p {
	color: #FBE8CE;
}
#ground-stage .match.big {
	left: 0;
	top: 0;
}
#ground-stage .match.big h1 {
	z-index: 2;
}
#ground-stage .match.big .on .content > .highlight {
	opacity: 1;
}
#ground-stage .match.big .content > h1:nth-of-type(1) {
	font-size: 150px;
	line-height: 192px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, -812, -431);
}
#ground-stage .match.big .content > h1:nth-of-type(2) {
	font-size: 117px;
	line-height: 150px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, 380, -242);
}
#ground-stage .match.big .content > h1:nth-of-type(3) {
	font-size: 240px;
	line-height: 307px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, -817, 143);
}
#ground-stage .match.big .content > .highlight:nth-of-type(1) {
	transform: matrix(1, 0, 0, 1, -16, -333);
}
#ground-stage .match.big .content > .highlight:nth-of-type(2) {
	transform: matrix(1, 0, 0, 1, 144, -251);
	z-index: 1;
}
#ground-stage .match.big .content > .highlight:nth-of-type(3) {
	transform: matrix(1, 0, 0, 1, -75, -103);
}
#ground-stage .match.big .interview {
	text-align: right;
	transform: matrix(1, 0, 0, 1, 421, 223);
}
#quarterfinals .main {
	background-color: #1B202F;
}
#quarterfinals .main .typo h1 {
	color: #69748F;
}
#quarterfinals .main .typo p {
	color: #69748F;
}
#quarterfinals .match.big h1 {
	z-index: 4;
}
#quarterfinals .match.big .content > h1:nth-of-type(1) {
	font-size: 100px;
	line-height: 128px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, -820, -428);
}
#quarterfinals .match.big .content > h1:nth-of-type(2) {
	font-size: 100px;
	line-height: 107px;
	font-weight: 400;
	word-spacing: 35px;
	transform: matrix(1, 0, 0, 1, 252, -418);
}
#quarterfinals .match.big .content > h1:nth-of-type(3) {
	font-size: 100px;
	line-height: 107px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, 5, -312);
}
#quarterfinals .match.big .content > h1:nth-of-type(4) {
	font-size: 100px;
	line-height: 107px;
	font-weight: 400;
	word-spacing: 43px;
	transform: matrix(1, 0, 0, 1, 59, -206);
}
#quarterfinals .match.big .content > h1:nth-of-type(5) {
	font-size: 100px;
	line-height: 107px;
	font-weight: 400;
	width: max-content;
	transform: matrix(1, 0, 0, 1, -304, -100);
}
#quarterfinals .match.big .content > h1:nth-of-type(6) {
	font-size: 240px;
	line-height: 307px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, 351, 143);
}
#quarterfinals .match.big .content > .highlight:nth-of-type(1) {
	transform: matrix(1, 0, 0, 1, -728, -311);
	z-index: 3;
}
#quarterfinals .match.big .content > .highlight:nth-of-type(2) {
	transform: matrix(1, 0, 0, 1, -529, -375);
	z-index: 2;
}
#quarterfinals .match.big .content > .highlight:nth-of-type(3) {
	transform: matrix(1, 0, 0, 1, -320, -264);
}
#quarterfinals .match.big .interview {
	text-align: left;
	transform: matrix(1, 0, 0, 1, -810, 244);
}
#semifinals .main {
	background-color: #1B2F22;
}
#semifinals .main .typo h1 {
	color: #FFCBCB;
}
#semifinals .main .typo p {
	color: #FFCBCB;
}
#semifinals .match.big h1 {
	z-index: 4;
}
#semifinals .match.big .content > h1:nth-of-type(1) {
	font-size: 150px;
	line-height: 192px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, -822, -443);
}
#semifinals .match.big .content > h1:nth-of-type(2) {
	font-size: 150px;
	line-height: 192px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, -335, -443);
}
#semifinals .match.big .content > h1:nth-of-type(3) {
	font-size: 150px;
	line-height: 192px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, 143, -443);
}
#semifinals .match.big .content > h1:nth-of-type(4) {
	font-size: 100px;
	line-height: 128px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, -207, 278);
}
#semifinals .match.big .content > h1:nth-of-type(5) {
	font-size: 240px;
	line-height: 307px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, 415, 143);
}
#semifinals .match.big .content > .highlight:nth-of-type(1) {
	transform: matrix(1, 0, 0, 1, 39, -335);
	z-index: 1;
}
#semifinals .match.big .content > .highlight:nth-of-type(2) {
	transform: matrix(1, 0, 0, 1, -105, -218);
	z-index: 2;
}
#semifinals .match.big .content > .highlight:nth-of-type(3) {
	transform: matrix(1, 0, 0, 1, 97, -75);
	z-index: 3;
}
#semifinals .match.big .interview {
	text-align: left;
	transform: matrix(1, 0, 0, 1, -810, 194);
}
#finals .main {
	background-color: #1B2E2F;
}
#finals .main .typo h1 {
	color: #FEECAA;
}
#finals .main .typo p {
	color: #FEECAA;
}
#finals .match.big .content > h1:nth-of-type(1) {
	font-size: 150px;
	line-height: 192px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, -822, -443);
}
#finals .match.big .content > h1:nth-of-type(2) {
	font-size: 150px;
	line-height: 192px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, -822, 39);
}
#finals .match.big .content > h1:nth-of-type(3) {
	font-size: 150px;
	line-height: 192px;
	font-weight: 400;
	width: max-content;
	word-spacing: 32px;
	transform: matrix(1, 0, 0, 1, -822, 231);
}
#finals .match.big .content > h1:nth-of-type(4) {
	font-size: 150px;
	line-height: 192px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, 436, -440);
}
#finals .match.big .content > h1:nth-of-type(5) {
	font-size: 240px;
	line-height: 307px;
	font-weight: 400;
	transform: matrix(1, 0, 0, 1, 352, -247);
}
#finals .match.big .interview {
	text-align: right;
	transform: matrix(1, 0, 0, 1, 427, 200);
}
#last {
	left: 0;
	top: 0;
}
#last .comment {
	left: 0;
	top: 0;
	background-color: #111111e6;
	flex-direction: column;
	opacity: 0;
	transition: opacity .5s;
}
#last .comment h1 {
	font-size: 20px;
	line-height: 26px;
	color: #ffffff;
	margin-bottom: 57px;
	font-weight: 300;
}
#last .comment p {
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	color: #ffffff;
	opacity: 0;
	transition: opacity 2s;
}
#last .comment p:nth-of-type(1) {
	transition-delay: 1s;
}
#last .comment p:nth-of-type(2) {
	transition-delay: 2s;
}
#last .comment p:nth-of-type(3) {
	transition-delay: 3s;
}
#last .comment p:not(:last-of-type) {
	margin-bottom: 18px;
}
#last.on .comment {
	opacity: 1;
}
#last.on .comment p {
	opacity: 1;
}

@media screen and (max-height: 981px) {
	#last picture,
	#last picture img {
		width: 100vw !important;
	}
}
@media screen and (min-height: 980px) {
	#last picture,
	#last picture img {
		height: 100vw !important;
	}
}
