#story .wrap {
	position: sticky;
	width: 100vw;
	top: 0;
	left: 0;
	overflow: hidden;
}
#story .list {
	width: max-content;
	height: 100vh;
}
#story .list > .banner {
	height: 100vh;
	width: 100vw;
	color: #fff;
}
#story .list .video {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#story .list .video video {
	display: block;
}
#story .list .video .slogan {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#story .list .video .slogan h1 {
	color: #fff;
	font-size: 6.75rem;
	line-height: 8.62rem;
	font-weight: 800;
}

.location .main {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.location .main img {
	display: block;
}
.location .main img:nth-of-type(1) {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 65.81rem;
}
.location .main img:nth-of-type(2) {
	transform-origin: left top;
	left: 50%;
	top: 50%;
	width: 39.43rem;
	transform: translate(-50.62rem, -23.18rem);
}
.location .main img:nth-of-type(3) {
	transform-origin: left top;
	left: 50%;
	top: 50%;
	width: 39.43rem;
	transform: translate(9.93rem, 0.31rem);
}
.location .main img:nth-of-type(4) {
	right: 9.37rem;
	top: 6.18rem;
	width: 7.56rem;
}
.location .main .typo {
	z-index: 2;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	flex-direction: column;
}
.location .main .typo h1 {
	font-size: 11.5rem;
	line-height: 14.75rem;
	color: #fff;
	font-weight: 400;
	text-align: center;
	z-index: 2;
}
.location .main .typo .interview {
	bottom: 2.43rem;
	left: 50%;
	transform: translateX(-50%);
}
.location .main .typo .interview p {
	color: #fff;
	text-align: center;
}
.location .main .typo h1:nth-of-type(1) {
	margin-bottom: 8.18rem;
}
.location .main .typo p:nth-of-type(1) {
	font-size: 1.12rem;
	line-height: 1.43rem;
	font-weight: 300;
	margin-bottom: 1.5rem;
}
.location .main .typo p:nth-of-type(2) {
	font-size: 1rem;
	line-height: 1.68rem;
	font-weight: 300;
}
#tryout .content.item1 > img {
	display: block;
	width: auto;
	height: 100vh;
}
#story .type1 .content.match > img {
	display: block;
	width: auto;
	height: 100vh;
}
#story .type1 .content.match > .absolute {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	flex-direction: column;
}
#story .content.match > .absolute p {
	color: #FFFFFF80;
	font-size: 1.12rem;
	line-height: 1.43rem;
	margin-bottom: 0.37rem;
	font-weight: 400;
}
#story .content.match > .absolute h2 {
	font-size: 1.5rem;
	line-height: 1.93rem;
	font-weight: 400;
	margin-bottom: 2.62rem;
}
#story .content.match > .absolute h1 {
	font-size: 2.25rem;
	line-height: 2.87rem;
	font-weight: 400;
	margin-bottom: 2.18rem;
}
#story .content.match > .absolute a {
	font-size: 1.12rem;
	line-height: 1.62rem;
	font-weight: 300;
	border-bottom: 1px solid #FFFFFF40;
	padding-bottom: 0.25rem;
}
#story .content.match > .absolute a img {
	margin-left: 0.37rem;
	display: block;
	width: 0.87rem;
}
#story .type2 .content.match > .absolute {
	height: 50%;
	width: 100%;
	color: #fff;
	text-align: center;
	flex-direction: column;
}
#story .type2 .content.match > .absolute:nth-of-type(1) {
	top: 0;
}
#story .type2 .content.match > .absolute:nth-of-type(2) {
	bottom: 0;
}
#play-in {
	background-color: #FFF3E7;
}
#play-in .main .typo h1 {
	color: #6BCC69;
}
#play-in .main .typo p {
	color: #6BCC69;
}
#ground-stage {
	background-color: #D7273C;
}
#ground-stage .main .typo h1 {
	color: #FBE8CE;
}
#ground-stage .main .typo p {
	color: #FBE8CE;
}
#quarterfinals {
	background-color: #1B202F;
}
#quarterfinals .main .typo h1 {
	color: #69748F;
}
#quarterfinals .main .typo p {
	color: #69748F;
}
#quarterfinals .match.big .typo h1:nth-of-type(1) {
	font-size: 6.25rem;
	line-height: 8rem;
	font-weight: 100;
}
#quarterfinals .match.big .typo h1:nth-of-type(2) {
	font-size: 6.25rem;
	line-height: 6.62rem;
	text-align: right;
}
#semifinals {
	background-color: #FEECAA;
}
#semifinals .main .typo h1 {
	color: #FFCBCB;
}
#semifinals .main .typo p {
	color: #FFCBCB;
}
#finals {
	background-color: #1B2E2F;
}
#finals .main .typo h1 {
	color: #FEECAA;
}
#finals .main .typo p {
	color: #FEECAA;
}

#story .content.match.big {
	width: 100vw;
	height: 100vh;
}
#story .content.match.big .bg {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#story .content.match.big h1 {
	color: #fff;
	z-index: 2;
}
#story .content.match.big .typo {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#story .content.match.big .typo a {
	top: 29.31rem;
	left: 9.37rem;
	font-size: 1.12rem;
	font-weight: 300;
	line-height: 1.62rem;
	gap: 1rem;
	padding-bottom: 0;
	border: 0;
	color: #fff;
}
#story .content.match.big .typo a span {
	width: 2.75rem;
	height: 2.75rem;
	border-radius: 50%;
	border: 1px solid #fff;
}
#story .content.match.big .typo a span img {
	display: block;
	width: 0.87rem;
	margin-left: 0;
}
#story .content.match.big .typo .interview h4 {
	margin-bottom: 1.5rem;
	font-size: 1.25rem;
	line-height: 1.62rem;
	font-weight: 300;
}
#story .content.match.big .typo .interview p {
	font-size: 1rem;
	line-height: 2.18rem;
	font-weight: 300;
	color: #FFFFFF59;
}
#story .content.match.big .typo .interview p span {
	color: #FFFFFF;
}
#story #ground-stage .content.match.big .typo h1:nth-of-type(1) {
	font-size: 9.37rem;
	line-height: 12rem;
	font-weight: 400;
	top: 3.68rem;
	left: 9.25rem;
}
#story #ground-stage .content.match.big .typo h1:nth-of-type(2) {
	font-size: 7.31rem;
	line-height: 9.37rem;
	font-weight: 400;
	top: 16.25rem;
	right: 8.81rem;
}
#story #ground-stage .content.match.big .typo h1:nth-of-type(3) {
	font-size: 15rem;
	line-height: 19.18rem;
	font-weight: 400;
	bottom: 1.75rem;
	left: 8.93rem;
}
#story #ground-stage .content.match.big .typo .highlight {
	display: block;
	width: 18.75rem;
}
#story #ground-stage .content.match.big .typo .highlight:nth-of-type(1) {
	top: 10.56rem;
	left: 59.25rem;
}
#story #ground-stage .content.match.big .typo .highlight:nth-of-type(2) {
	z-index: 1;
	top: 15.68rem;
	left: 69rem;
}
#story #ground-stage .content.match.big .typo .highlight:nth-of-type(3) {
	top: 24.93rem;
	left: 55.56rem;
}
#story #ground-stage .content.match.big .typo .interview {
	bottom: 6.11rem;
	right: 9.37rem;
	text-align: right;
	color: #fff;
}

@media screen and (min-width: 1680px) {
	#story .list .video video {
		width: 100vw;
	}
}
@media screen and (max-width: 1680px) {
	#story .list .video video {
		height: 100vh;
	}
}
